.form {
	&--contact {
		position: relative;
		width: 50%;
		height: 100%;
		margin-top: 2em;
		z-index: 4;
		&__submit {
			width: calc(22em + 5.6em);
			margin: 1em auto;
			text-align: right;
		}
		.center--vertical {
			/*background-color: $bg-colour;*/
		}
		span {
			display: inline-block;
			width: 5.6em;
			text-align: left;
			color: $main-colour;
		}
		input, textarea {
			width: 22em;
			padding: 5px 0;
			border: 0;
		}
		input {
			background-color: transparent;
			border-bottom: 2px solid #fff;
			&:focus, &:active {
				border-bottom: 2px solid $sub-colour;
				/*color: $sub-colour;*/
				@mixin borderGradation;
			}
			&[type="submit"] {
				border: none;
				width: auto;
				padding: 0 0.4em;
				color: $main-colour;
				font-style: italic;
				font-size: 1.125em;
				&:hover {
					@mixin CisGradationHol;
					/*color: #fff;*/
				}
			}
		}
		textarea {
			height: 8em;
			padding: 5px;
			background-color: #fff;
			&:focus, &:active {
				border: 2px solid $sub-colour;
				/*color: $sub-colour;*/
				@mixin borderGradation;
			}
		}
	}
}


textarea:focus, input:focus{
	outline: 0;
}

input.searchform {
	display: inline-block;
	position: relative;
	width: 90%;
	height: 4rem;
	vertical-align: middle;
	padding: 0 1.25rem;
	border: 0;
	border-radius: 30px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
	background: #f5f5f5;
	color: #000;
	box-sizing: border-box;
}

.fa-search:before {
	content: "\f002";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #ccc;
	font-size: 1.5em;
	position: absolute;
	top: 6px;
	right: 25px;
}

.button1 {
	position: absolute;
	display: inline-block;
	left: 0;
	right: 0;
	width: 15px;
	top: 85%;
	margin: 0 auto;
	padding: 5px 15px 10px;
	border: 1px solid #fff;
	border-radius: 100%;
	font-size: 29px;
	color: #fff;
	transition: all 0.5s ease-in-out;
	&:hover {
		background-color: rgba(255,255,255,0.5);
	}
}

.footer-subscription {
	input[type="text"] {
		width: 178px;
		height: 24px;
		padding-left: 5px;
		border: 1px solid #8b8b8b;
	}
	input[type="submit"] {
		height: 24px;
		margin-left: 10px;
		padding: 0 10px;
		border: 1px solid #8b8b8b;
		background-color: transparent;
		color: #fff;
	}
}

.form {
	&--archive {
		width: $content-width;
		margin: auto;
		.search-items {
			border-left: 3px solid #fff;
		}
		li {
			margin-top: 40px;
			&:first-child {
				margin-top: 0;
			}
		}
		.search-item {
			float: left;
			position: relative;
			display: inline-block;
			width: 20%;
			height: 50px;
			&:nth-child(n + 6) {
				label {
					border-top: 0;
				}
			}
		}
		.items-title {
			margin: 0;
			margin-bottom: 16px;
		}
		label {
			display: inline-block;
			width: 100%;
			height: 50px;
			padding: 14px 0;
			text-align: center;
			color: #fff;
			font-size: 1.083em;
			font-weight: bold;
			border: 3px solid #fff;
			border-left: 0;
			cursor: pointer;
			transition: background 0.2s ease-out-back;
		}
		input[type="checkbox"], input[type="radio"]{
			position: absolute;
			opacity: 0;
			visibility: hidden;
		}
		input[type=checkbox]:checked + label,
		input[type=radio]:checked + label {
			background-color: #fff;
			color: $red;
		}
		input[type=submit] {
			width: 159px;
			background: transparent;
			color: #fff;
			font-weight: bold;
			border: 3px solid #fff;
			padding: 10px 0;
			font-size: 1.25em;
			letter-spacing: 1px;
		}
		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		circle {
			fill: rgba(255,255,255,0.1);
		}
	}
}

.form-message {
	color: #888;
	font-size: 0.95em;
	margin-top: 4px;
}