.services-lists {
	text-align: center;
	color: #090909;
	ul {
		display: inline-block;
		max-width: 24%;
	}
	li {
		position: relative;
		margin-bottom: 7.5em;
		&:first-child {
			padding-top: 60%;
			h5 {
				margin-bottom: 1.67em;
			}
		}
		&:nth-child(2){
			text-align: left;
			p {
				margin-left: 10%;
			}
		}
		&:nth-child(3){
			text-align: left;
			h5 {
				text-align: right;
			}
		}
		&:nth-child(4) {
			text-align: left;
			margin-left: -16%;
			p {
				margin-left: 7.8%;
			}
		}
		&:nth-child(5){
			width: 120%;
			text-align: left;
			h5 {
				text-align: center;
			}
			p {
				margin-left: 20%;
			}
		}
	}
}
.white-wall {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 70%;
	height: 100%;
	margin: auto;
	background-color: $green;
	z-index: -1;
}
.work-list {
	position: relative;
	width: 50.4%;
	margin-right: 2.8%;
	margin-bottom: -6px;
	margin-left: auto;
	font-size: responsive 11px 16px;
	font-range: 1040px 1920px;
	text-align: center;
	z-index: 2;
}
.work-item {
	position: relative;
	display: inline-block;
	margin: 0 2% 6%;
	/*margin-bottom: 6%;*/
	display: none;
	overflow: hidden;
	/*border-radius: 50%;*/
	vertical-align: sub;
	&:first-child {
		margin-top: 0;
	}
	&__front {
		position: relative;
		display: inline-block;
		width: 100%;
		filter: grayscale(1);
		&:hover {
			.work-item__image {
				opacity: 1;
			}
		}
	}
	&__image {
		position: relative;
		width: 100%;
		height: 100%;
		background-size: auto 103%;
		background-position: center;
		background-repeat: no-repeat;
		/*border-radius: 50%;*/
		text-align: center;
		overflow: hidden;
		transition: all 0.3s ease-in-out-circ;
		img {
			position: absolute;
			transform: translateY(-50%) translateX(-50%);
			top: 50%;
			left: 50%;
			filter: grayscale(1) brightness(1.2);
			/*width: 100%;*/
			height: 100%;
			opacity: 0.5;
		}
	}
	&__info {
		@mixin hide;
		position: absolute;
		top: 10%;
		left: 33%;
		width: 30%;
		text-align: left;
		z-index: 9;
	}
	&__title {
		display: inline-block;
		margin-bottom: 0;
		padding-left: 0.03em;
		font-size: 3em;
		vertical-align: -3px;
	}
	&__category {
		display: inline-block;
		margin: 0;
		margin-left: 20px;
		padding: 0 0.5em;
		background-color: #fff;
		color: #333;
		font-size: 0.67em;
		vertical-align: 3px;
	}
	&__desc {
		margin-top: 0.53em;
		margin-left: 0.2em;
		font-size: 1.125em;
		font-family: $sub-font;
		font-weight: normal;
	}
	&:hover {
		.work-item__front {
			filter: grayscale(0);
		}
		.work-item__image {
			background-color: #20FF20;
			background-blend-mode: multiply;
			img {
				filter: none;
			}
		}
	}
	&.active {
		position: fixed;
		float: none;
		text-align: center;
		top: 50%;
		max-height: 100%;
		height: 100%;
		transform: translateY(-50%) !important;
		.work-item__front {
			&:before {
				@mixin pseudo 2%, 100%;
				top: 0;
				right: 0;
				z-index: 1;
				background-color: #fff;
				transform: none !important;
			}
			.work-item__image {
				height: 100%;
				max-height: none;
				background-color: transparent;
				background-size: cover;
			}
			img {
				min-height: 100%;
			}
		}
	}
}
.svg--grid {
	height: 77.4%;
	position: fixed;
	z-index: 2;
	fill: $green;
	top: 0;
	right: 2.8%;
	bottom: 0;
	margin: auto;
	width: 46.5%;
	z-index: 1;
	@mixin hide;
}

.ie, .msie, .firefox {
	.work-list {
		mix-blend-mode: none;
	}
	.work-item__image {
		background-color: transparent;
		background-blend-mode: none;
	}
	.svg--grid {
		@mixin hide;
	}
}